<div class="row">
  <div class="col-md-4 text-center">
    <h2>Start a game</h2>
    <a ui-sref="host.lobby" class="btn btn-primary">Enter lobby</a>
  </div>

  <div class="col-md-4 text-center">
    <h2>Join a game</h2>
    <form role="form" name="sessionForm" class="form-inline" ng-submit="joinSession(sessionNumber)" novalidate>
      <div class="form-group">
        <label class="control-label" for="inputSessionNumber">Session #</label>
        <input ng-model="sessionNumber" type="number" class="form-control" name="sessionNumber" id="inputSessionNumber" required>
      </div>
      <button type="submit" class="btn btn-primary">Join game</button>
    </form>
  </div>

  <div class="col-md-4">
    <h3>Currently loaded articles</h3>
    <ul>
      <li ng-repeat="title in titles" ng-bind="title"></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>About Wikitrivia</h2>
    <p>
      Wikitrivia is a game where you try to fill in the blanks in sentences pulled from Wikipedia articles, trying to fool your friends with the most convincing answer.
    </p>

    <p>
      If this is your first time visiting Wikitrivia, you might want to check out <a href="http://slides.com/atbaker/trackmaven-monthly-challenge-demo" target="_blank">this presentation</a> to get some background.
    </p>

    <h2>How to play</h2>
    <p>
      To play Wikitrivia, you will need one computer in a place where everyone can see it (maybe you have a Chromecast?). Each player will then connect to the game with their smartphone.
    </p>

    <p>
      Wikitrivia is still in alpha, but it is possible to play an entire game. You'll get the hang of how to play once you answer a couple questions.
    </p>

    <p>
      <strong>NOTE:</strong> The biggest bug with the game right now is that players <strong>must not let their phones go to sleep</strong> while playing. There is no easy way to rejoin a game that is in progress.
    </p>
  </div>
</div>
