<div class="row">
  <div class="col-md-6 text-center">
    <h2>Start a game</h2>
    <a ui-sref="host.lobby" class="btn btn-primary">Enter lobby</a>
  </div>

  <div class="col-md-6 text-center">
    <h2>Join a game</h2>
    <form role="form" name="sessionForm" class="form-inline" ng-submit="joinSession(sessionNumber)" novalidate>
      <div class="form-group">
        <label class="control-label" for="inputSessionNumber">Session #</label>
        <input ng-model="sessionNumber" type="number" class="form-control" name="sessionNumber" id="inputSessionNumber" required>
      </div>
      <button type="submit" class="btn btn-primary">Join game</button>
    </form>
  </div>
</div>
