<div class="row">
  <div class="col-md-12">
    <h2>Question #{{questionCounter}}</h2>
    <form role="form" name="answerForm" ng-submit="submitAnswer(answer)" novalidate>
      <div class="form-group">
        <label class="control-label" for="inputAnswer">Your answer</label>
        <input ng-model="answer" type="text" class="form-control" name="answer" id="inputAnswer" autocapitalize="off" required>
      </div>
      <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </form>
  </div>
</div>
