<div class="row">
  <div class="col-md-8">
    <h2>Question</h2>
    <p class="lead" ng-bind="question.question"></p>

    <h3>Who chose what</h3>
    <ul>
      <li ng-repeat="(player, answer) in answers">
        <strong>{{answer.text}}</strong> <span ng-if="clients[player]">({{ clients[player].name }}'s lie)</span><span ng-if="!clients[player]">(the truth)</span> was chosen by <span ng-repeat="chooser in answer.choosers">{{ clients[chooser].name }}</span>
      </li>
    </ul>

    <button ng-click="nextQuestion()" type="button" class="btn btn-primary">Next question</button>
  </div>

  <div class="col-md-4">
    <h2>Players:</h2>
    <ul>
      <li ng-repeat="client in clients">
        {{ client.name }} <strong ng-bind="client.score"></strong>
      </li>
    </ul>
  </div>
</div>
